<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_PATTERN"
            value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %gray( --- [%12thread]) %cyan(%-38logger{36}.%M):%L : %msg%n"/>

  <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="general" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/property-service.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>./log/property-service.%i.log</fileNamePattern>
      <minIndex>0</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>16MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="debugLog" class="ch.qos.logback.core.FileAppender">
    <file>./log/property-service-debug.log</file>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="sout" />
    <appender-ref ref="general" />
  </root>

  <logger level="debug" name="com.yu">
    <appender-ref ref="debugLog" />
  </logger>

</configuration>